body{
  text-align: center;
  background-color: pink;
}
h1{
  color: #6e3855;
  font-family: "Arial";
  border:solid brown;
  border-radius: 30px;
  background-color:#e660a5;
  font-weight: 450;
}
p{
  font-family: "Courier New";


  
}
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

body {
  background-image: url('Bunga2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}